

.host {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, #ff6a00, #ee0979);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, background 0.3s ease;
}
button:hover {
    transform: scale(1.1);
    background: linear-gradient(45deg, #ff8c42, #ff3f85);
}
a{
    text-decoration: none;
}